<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title boxbox13
        link(rel="stylesheet", href="/css/styles.css")
    body
        .screen
            .screen__left
            .screen__right
                .screen__right__top
                    .screen__right__top__West
                    .screen__right__top__East
                .screen__right__under
                    .screen__right__under__North
                    .screen__right__under__South